<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <style>
       
        body{
            background-color: #f1d6f8;
        }
    </style>
    <title>Crud Flask</title>
</head>

<body>
    <div class="container mx-auto" style="margin-top: 1%;">
        <div class="card shadow-lg">
            <div class="card-body">
                <form action="/usuario" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label>NOMBRE</label>
                            <input type="text" class="form-control mb-3" name="nombre">

                            <label>APELLIDO</label>
                            <input type="text" class="form-control mb-3" name="apellido">

                            <label>TIPO DOCUMENTO</label>
                            <BR>
                            <select id="tipoDocumento" name="tipoDocumento">
                                <option value=1>C.C</option>
                                <option value=2>T.I</option>
                                <option value=3>R.C</option>
                            </select>
                            <BR>
                            <BR>

                              <label>DOCUMENTO</label>
                              <input type="text" class="form-control mb-3" name="documento">
                        </div>
                        <div class="col">
                            <label>LUGAR DE RESIDENCIA</label>
                            <BR>
                                   
                                <select id="lugarResidencia" name="lugarResidencia">
                                    <option value=1>BOGOTA D.C</option>
                                    <option value=2>BUCARAMANGA</option>
                                    <option value=3>MEDELLIN</option>
                                    <option value=4>CALI</option>
                                    <option value=4>BARRANQUILLA</option>


                                </select>
                                <BR>    
                                    <BR>    

                            <label>FECHA NACIMIENTO</label>
                            <input type="text" class="form-control mb-3" name="nacimiento">

                            <label>EMAIL</label>
                            <input type="email" class="form-control mb-3" name="email">

                            <label>TELEFONO</label>
                            <input type="text" class="form-control mb-3" name="telefono">

                        </div>
                        <div class="col">
                            <label>USUARIO</label>
                            <input type="text" class="form-control mb-3" name="usuario">

                            <label>CONTRASEÑA</label>
                            <input type="password" class="form-control mb-3" name="contraseña">

                    
                                <button class="btn btn-primary mb-3 mt-4" type="submit">Save</button>
                    

                        </div>

                    
                </form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">APELLIDO</th>
                            <th scope="col">TIPO DOCUMENTO</th>
                            <th scope="col">DOCUMENTO</th>
                            <th scope="col">RESIDENCIA</th>
                            <th scope="col">FECHA NACIMIENTO</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">TELEFONO</th>
                            <th scope="col">USUARIO</th>



                        </tr>
                    </thead>

                    <tbody>
                        {% for user in usuarios %}
                       
                          
                        
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.nombre }}</td>
                                <td>{{user.apellido }}</td>

                                <td>{{user.idTipoDocumento}}</td>
                                <td>{{ user.documento }}</td>
                                <td>{{user.lugarResidencia}}</td>
                                <td>{{ user.fechaNacimiento }}</td>
                                <td>{{ user.email}}</td>
                                <td>{{ user.telefono}}</td>
                                <td>{{ user.Usuario}}</td>


                                <td><button type=button class="btn btn-primary btn-sm" id="btn-edit{{user.id}}" data-bs-toggle="modal"data-bs-target="#modal{{user.id}}">Edit</button></td>
                                <td><a href="{{url_for('delete', id=user.id)}}" class="btn btn-danger btn-sm">Delete</a></td>
                            </tr>

                        <div class="modal fade" id="modal{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{user.nombre}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/edit/{{user.id}}" method="post">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control mb-3" name="nombre" value="{{user.nombre}}">

                                            <label>APELLIDO</label>
                                            <input type="text" class="form-control mb-3" name="apellido" value="{{user.apellido}}">

                                            <label>DOCUMENTO</label>
                                            <input type="text" class="form-control mb-3" name="documento" value="{{user.documento}}">

                                            <label>EMAIL</label>
                                            <input type="email" class="form-control mb-3" name="email" value="{{user.email}}">

                                            <label>USUARIO</label>
                                            <input type="text" class="form-control mb-3" name="usuario" value="{{user.Usuario}}">

                                            <label>TELEFONO</label>
                                            <input type="text" class="form-control mb-3" name="telefono" value="{{user.telefono}}">

                                    
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>
            {% endfor %}

            </tbody>
            </table>
                
        </div>
    </div>
    </div>
</body>

</html>